package projects

import (
	"fmt"
	"github.com/anvidev/nit/internal/service"
	"github.com/anvidev/nit/internal/view/layout"
)

templ ViewProject(project service.Project) {
	@layout.Base(project.Title, true) {
		<div>
			<span>{ project.Title }</span>
			if layout.GetAuthenticatedUser(ctx).ID == project.UserID {
				<button type="button" hx-delete={ fmt.Sprintf("/projects/%d", project.ID) }>Delete</button>
			}
		</div>
	}
}
